/*电子围栏*/
html,body{
    width: 100%;
    height: 100%;
}
.wrap{
    background-image: -moz-radial-gradient( 50% 50%, rgb(84,114,170) 0%, rgb(12,14,41) 100%);
    background-image: -webkit-radial-gradient( 50% 50%, rgb(84,114,170) 0%, rgb(12,14,41) 100%);
    background-image: -ms-radial-gradient( 50% 50%, rgb(84,114,170) 0%, rgb(12,14,41) 100%);
    width: 100%;
    height: 100%;
    min-width: 1000px;
    min-height: 600px;
}
header{
    width: 100%;
    height: 55px;
    position: relative;
}
header>img{
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100%;
}
header>p{
    position: absolute;
    top: 22%;
    left: 41%;
    z-index: 4;
}
header>:nth-child(3){
    width: 33%;
    height: 38px;
    background: url("../images/top3.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 17px;
    left: 0%;
    z-index: 1;
    display: flex;
    padding-left: 20px;
    align-items: center;
}
header>:nth-child(4){
    width: 25%;
    height: 38px;
    position: absolute;
    top: 17px;
    right:20px;
    z-index: 5;
    display: flex;
    align-items: center;
}
header>:nth-child(3)>span{
    color: #ed8914;
    font-size: 15px;
    margin-left: 4px;
}
header>:nth-child(3)>:nth-child(1){
    display: block;
    width: 18px;
    height: 18px;
    background: url("../images/fence/ling.png") no-repeat center;
    background-size: 18px 18px;
}
header>:nth-child(4)>span{
    font-size: 15px;
    color: #ccc;
    margin-left: 20%;
}
header>:nth-child(4)>:nth-child(2){
    display: block;
    width: 20px;
    height: 20px;
    margin-left: 30%;
    background: url("../images/css_sprites.png") no-repeat -46px -7px;
}
.content{
    width: 90%;
    height: 80%;
    margin: 2% auto 8px;
    background: url("../images/dakuang1.png") no-repeat center;
    background-size: 100% 100%;
    padding-right: 40px;
    box-sizing: border-box;
}
.content>.top{
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    padding: 22px 0 0 18px;
    box-sizing: border-box;
}
.content>.top>p{
    width: 100px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    color: #ccc;
    font-size: 16px;
    font-weight: bold;
    background: url("../images/fence/title_bg2.png") no-repeat center;
    background-size: 150% 150%;
    transform: translate(0,7px);
}
.content>.top>:nth-child(2){
    width: 400px;
    height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.weilan_add_wrap{
    width: 188px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #151e3e;
    border: 1px inset rgba(15, 24, 47, 0.87);
}
.weilan_add_wrap>input{
    height: 25px;
    background: #151e3e;
    border: 0px;
    outline:none;
    padding-left: 10px;
    color: #ccc;
}
.weilan_add_wrap>input::-webkit-input-placeholder {
    color: #b0b0b0;
}
.weilan_add_wrap>label{
    width: 25px;
    height: 25px;
    background: url("../images/css_sprites.png") -8px -6px;
}
.cha,.add_wei{
    width: 90px;
    height: 32px;
    line-height: 30px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    background: url("../images/button.png") center;
    background-size: 100% 100%;
    cursor: pointer;
    color: #ccc;
}
.content>._line{
    width: 96%;
    height: 2px;
    background: #303959;
    margin: 6px auto 0;
}
.table1{
    width: 98%;
    margin: 0 auto;
    color: #ccc;
    /*table-layout: fixed;*/
}
.table1 a{
    color: #ccc;
    margin: 0 5px;
}
.table1 a:hover{
    color: #e2e2e2;
}
.table1 th{
    height: 34px;
}
.table1 th:first-child,table th:last-child{
    padding: 0 10px;
}

.table1 td:nth-child(7){
    width: 17%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.table1 td{
    height: 30px;
    text-align: center;
}
.table1 tr:nth-child(even){
    /*background: #3c4b6b;364260*/
    background: rgba(93, 107, 144, 0.79);
}
footer{
    width: 90%;
    height: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}
footer div{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
footer div:first-child{
    background-image: url("../images/css_sprites.png");
    background-position: -5px -42px;
}
footer div:last-child{
    background-image: url("../images/css_sprites.png");
    background-position: -23px -42px;
}
footer .on4{
    background-color: #2a2c45;
}
/*添加车辆弹窗*/
.tip_add_truck{
    width: 302px;
    height: 366px;
    background: #2e3854;
    border: 2px solid #687289;
    background-size: 100%,100%;
    position: absolute;
    top:20%;
    left: 50%;
    z-index: 20;
    box-shadow: 0px 0px 18px 4px #0c0c19;
    cursor: move;
    color: #999;
}
.tip_add_truck>p{
    color: #ccc;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    height: 36px;
    line-height: 36px;
}
.tip_add_truck span{
    color: #ccc;
}

.tip_add_truck>div{
    display: flex;
    align-items: center;
    padding:  6px 0px 0px 20px;
}
.tip_add_truck>div:first-of-type{
    padding-top: 0;
}
.tip_add_truck>div>span{
    display: block;
    width: 50px;
    text-align: right;
    font-size: 12px;
    font-weight: 600;
}
.tip_add_truck>div>input{
    width: 182px;
    height: 24px;
    background: #202642;
    border: 1px inset rgba(49, 71, 116, 0.8);
    border-radius: 3px;
    margin-left: 6px;
    color: #ccc;
}
#select1{
    width: 184px;
    height: 26px;
    background: #202642;
    border: 1px inset rgba(49, 71, 116, 0.8);
    border-radius: 3px;
    margin-left: 6px;
    color: #aaa;
    padding-left: 4px;
    outline: none;
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
    background: #202642 url("../images/sanjiaoxia.gif") no-repeat scroll center;
    background-position: 159px 0px;
}
.tip_add_truck>div .zhuncheng{
    margin-left: 23px;
}
.tip_add_truck>.beizhu{
    align-items: start;
}
.tip_add_truck>.beizhu textarea{
    width: 182px;
    height: 70px;
    background: #202642;
    border: 1px inset rgba(49, 71, 116, 0.8);
    margin-left: 6px;
    color: #ccc;
}
.tip_add_truck>:last-child{
    width: 204px;
    height: 30px;
    margin: 15px auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.tip_add_truck>:last-child>p{
    width: 90px;
    height: 30px;
    line-height: 28px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    background: url("../images/button.png") center;
    background-size: 100% 100%;
    cursor: pointer;
    color: #ccc;
}
/*添加围栏 按钮点击后的步骤*/
.content .add_1{
    width: 100%;
    height: 86%;
    display: flex;
}
.content .add_left{
    width: 27%;
    height: 100%;
    display: flex;
}
.add_left>.step{
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
.add_left>.step>:nth-child(1){
    width: 2px;
    height: 312px;
    background: -moz-radial-gradient( 50% 50%,  rgb(47, 103, 159) 67%, rgb(49, 88, 145) 100%);
    background: -webkit-radial-gradient( 50% 50%, rgb(47, 103, 159) 67%, rgb(49, 88, 145) 100%);
    background: -ms-radial-gradient( 50% 50%, rgb(47, 103, 159) 67%, rgb(49, 88, 145) 100%);
    background: radial-gradient( 50% 50%, rgb(47, 103, 159) 67%, rgb(49, 88, 145) 100%);
    border-radius: 1px;
    margin: 30px 0 0 20px;
}
.add_left>.step>:nth-child(1)>span{
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: -moz-radial-gradient( 50% 50%, rgb(46,109,162) 0%, rgb(35,70,113) 79%, rgb(24,31,63) 100%);
    background: -webkit-radial-gradient( 50% 50%, rgb(46,109,162) 0%, rgb(35,70,113) 79%, rgb(24,31,63) 100%);
    background: -ms-radial-gradient( 50% 50%, rgb(46,109,162) 0%, rgb(35,70,113) 79%, rgb(24,31,63) 100%);
    background: radial-gradient( 50% 50%, rgb(46,109,162) 0%, rgb(35,70,113) 79%, rgb(24,31,63) 100%);
    box-shadow: 0px 0px 4px 1px rgb( 25, 36, 70);
    transform: translate(-6px);
    margin: 10px 0 60px 0;
}
.add_left>ul{
    height: 312px;
    margin: 30px 0 0 20px;
    color: #ccc;
}
.add_left>ul>li{
    margin: 10px 0 39px 0;
}
.add_left>ul>li>:nth-child(1){
    font-size: 14px;
    font-family: "Microsoft YaHei";
    color: rgb( 89, 164, 224 );
    text-shadow: 0px 1px 0px rgba( 89, 164, 224 ,0.5);
}
.add_left>ul>li>:nth-child(2){
    font-size: 12px;
    font-family: "Microsoft YaHei";
    color: rgba( 204, 204, 204, 0.8 );
    text-align: left;
    text-shadow: 0px 1px 0px rgba( 255, 255, 255 ,0.5);
    margin-top: 6px;
}
.content .add_right{
    width: 73%;
    height: 100%;
}

.content .add_right span{
    color: #ccc;
}

.content .add_right>div{
    display: flex;
    align-items: center;
    padding:  16px 0px 0px 20px;
}
.content .add_right>div:first-of-type{
    padding-top: 40px;
}
.content .add_right>div>span{
    display: block;
    width: 50px;
    text-align: right;
    font-size: 12px;
    font-weight: 600;
}
.content .add_right>div>input{
    width: 190px;
    height: 24px;
    background: #1b2648;
    border: 1px inset rgba(49, 71, 116, 0.8);
    border-radius: 3px;
    margin-left: 6px;
    color: #ccc;
}
.content .add_right textarea{
    width: 346px;
    height: 70px;
    background: #1b2648;
    border: 1px inset rgba(49, 71, 116, 0.8);
    border-radius: 3px;
    margin-left: 6px;
    color: #ccc;
}
.content .add_right>:nth-child(6){
    align-items: start;
}
.add_right>:last-child{
    width: 394px;
    height: 80px;
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.add_right>:last-child>p{
    width: 90px;
    height: 30px;
    line-height: 29px;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    background: url("../images/button.png") center;
    background-size: 100% 100%;
    cursor: pointer;
    color: #ccc;
    margin-left: 44px;
}
/*绘制围栏*/
.add_right_2{
    width: 80%;
}
.add_right_2>:nth-child(1){
    display: flex;
    justify-content: flex-start;
}
.add_right_2_left{
    width: 24%;
    height: 80%;
}
.add_right_2_right{
    width: 76%;
    height: 80%;
    margin-top: 20px;
}
.add_right_2_right>img{
    width: 100%;
}
.add_right_2_left>p{
    color: #eee;
    font-size: 14px;
    margin: 36px 0 10px 0;
    font-weight: 600;
}
.add_right_2_left label{
    color: #ccc;
}

.add_right_2_left>input[type="radio"] + label::before {
    content: "\a0"; /*不换行空格*/
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    width: 1em;
    height: 1em;
    margin-right: .4em;
    border-radius: 50%;
    border: 1px solid #3181bd;
    text-indent: .15em;
    line-height: 1;
    box-sizing: border-box;
}
.add_right_2_left>input[type="radio"]:checked + label::before {
    background-color: #3181bd;
    background-clip: content-box;
    padding: .2em;
    box-sizing: border-box;
}
.add_right_2_left>input[type="radio"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
.add_right_2_left>div{
    margin-top: 16px;
}
.add_right_2_left>div>p{
    color: #ccc;
}
.add_right_2>:nth-child(2),.add_right_3>:last-child{
    display: flex;
    height: 100px;
    padding-left: 22%;
    align-items: center;
}
.add_right_2>:nth-child(2)>p,.add_right_3>:last-child>p{
    width: 90px;
    height: 32px;
    line-height: 30px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    background: url(../images/button.png) center;
    background-size: 100% 100%;
    cursor: pointer;
    color: #ccc;
    margin: 0 20px;
}
.add_right_3{
    width: 100%;
    background: #071f65;
    padding: 16px 0 0 28px;
}
.add_right_3>:nth-child(1)>span{
    color: #ccc;
    font-size: 14px;
}
.add_right_3>:nth-child(1)>select {
    margin-left: 25px;
    width: 100px;
    height: 26px;
    padding-left: 10px;
    color: #f0f0f0;
    border: inset 1px #1e2137;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: #0e112c url(../images/sanjiaoxia.gif) no-repeat scroll right;
}


























